<!DOCTYPE html>

<html ng-app="MapApp">

<head>
	
	<title>Landing Lot</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="utf-8"> 
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body ng-controller="MapCtrl">
	<div id="container" layout-fill>
		<md-content layout="column" layout-fill style="background-color: transparent">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<span><h2>LandingLot</h2></span>
					<span flex></span>
					<md-button class="md-icon-button">
						<md-icon md-svg-src="assets/icons/ic_my_location_black_24px.svg" aria-label="My Location" ng-click="search(true)"></md-icon>
					</md-button>
					<div style="padding-top: 1%;">
						<md-input-container>
							<label>Search</label>
							<input ng-model="searchText">
						</md-input-container>
						<md-button ng-click="search(false)">Search</md-button>
					</div>
					<md-button class="md-icon-button">
						<md-icon md-svg-src="assets/icons/ic_menu_black_24px.svg" aria-label="Menu" ng-click="openRightSidenav()"></md-icon>
					</md-button>
				</div>
			</md-toolbar>
				<!-- AGGREGATED API DATA LIST FORMAT -->
				<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right-sidenav">
					<md-list>
						<md-subheader class="md-no-sticky">Parking Locations Near {{searchText}}</md-subheader> 
						<div ng-repeat="item in listResults">
							<md-list-item class="md-3-line">
								<div class="md-list-item-text">
									<div layout="row" layout-align="center center">
										<!-- <div ng-repeat="image in item.images">
											<img ng-src="{{image.imagePathSmall}}" class="md-avatar" />
										</div> -->
										<div layout="column">
											<span>{{item.title}}</span>
											<span>{{item.displayAddress}}</span>
										</div>
										<span flex></span>
										<div layout="column" layout-align="center center" >
											<b>${{item.price}}.00</b>
										</div>
									</div>
									<!-- <md-button>{{item.displayName}}</md-button> -->
								</div>
								<md-divider ></md-divider>
							</md-list-item>
						</div>
					</md-list>

				<!-- PARKING PANDA API LIST FORMAT -->
					<!-- <md-list>
						<md-subheader class="md-no-sticky">Parking Locations Near {{searchText}}</md-subheader> 
						<div ng-repeat="items in listResults">
							<md-list-item class="md-3-line" ng-repeat="item in items.locations">
								<div class="md-list-item-text">
									<div layout="row" layout-align="center center">
										<div ng-repeat="image in item.images">
											<img ng-src="{{image.imagePathSmall}}" class="md-avatar" />
										</div>
										<div layout="column">
											<span>{{item.displayName}}</span>
											<span>{{item.displayAddress}}</span>
										</div>
										<span flex></span>
										<div layout="column" layout-align="center center" >
											<b>${{item.price}}.00</b>
										</div>
									</div>
									
								</div>
								<md-divider ></md-divider>
							</md-list-item>
						</div>
					</md-list> -->
				<!-- END PP API LIST -->
				</md-sidenav>
				<div id="map" flex></div>
		</md-content>
	</div>

	<!-- Angular CDNs -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.3/angular-material.js"></script>
  	<!-- Google Maps -->
  	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF-W6QcbO2nS4Zl8JIOiDVwMpH1xf-zIs&callback=initMap" async defer></script>

  	<!-- Angular Module -->
  	<script src="assets/js/map.js"></script>
</body>

</html>